@import "vendor";

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #423f37;
  background-color: #fff;
  min-width: 320px;
}

a {
  color: #423f37;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: #d32626;
  }
}

header {
  width: 100%;
  height: 100%;
  color: #666;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 525px;

  .bg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url('images/bg.jpg') no-repeat center;
    opacity: 1;
    animation: fade-background 2s;
    animation-fill-mode: forwards;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 10%;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* W3C */
    }
  }

  .header {
    position: relative;
    z-index: 1;
    color: #fff;
    padding-top: 20px;
    text-align: center;

    h1 {
      font-family: 'opener', Helvetica, sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: normal;
      font-size: 20px;
      margin-bottom: 80px;
      padding: 4px 8px;
      border: 3px solid #fff;
      display: inline-block;
    }

    h2 {
      font-family: 'opener', Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 68px;
      margin: 40px 0;
      line-height: 1;
    }

    h3 {
      font-family: 'Source Sans Pro', Helvetica, sans-serif;
      font-weight: 200;
      font-size: 24px;
      padding: 0 24px;
      width: 550px;
      margin: 0;
      line-height: 1.3em;
      padding: 0 10px;
    }

    .tagline {
      position: relative;
      &::before {
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .35);
        filter: blur(150px);
        transform: translate3d(0, 0, 0);
        z-index: -1;
      }
    }

    .arrow {
      position: absolute;
      bottom: 85px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 100px;
      border: 4px solid #fff;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &::before {
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        filter: blur(50px);
        transform: translate3d(0, 0, 0);
        z-index: -1;
      }

      &::after {
        margin-top: -1px;
        position: relative;
        content: '\f078';
        font-family: FontAwesome;
        font-size: 24px;
        z-index: 1;
      }
    }
  }
}

section {
  max-width: 650px;
  margin: 20px auto;
  height: 100%;
  min-height: 525px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: justify;

  h4 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }

  .jobs-section-container {
    flex: 1;
    text-align: center;

    .job-item {
      padding: 4px 10px;
      margin: 4px;
    }
  }
}

.about-us {
  position: relative;
}

.contact {
  text-align: center;
  font-weight: bold;
  position: relative;
  height: 200px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;

  &::before {
    content: '';
    top: 0;
    left: 0;
    //margin: 10% 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('images/paper-plane.png') no-repeat top center;
    background-size: contain;
    opacity: 1;
    animation: fade-background 2s;
    animation-fill-mode: forwards;
    z-index: -1;
  }
}

footer {
  text-align: center;
  margin: 0;
  padding-bottom: 24px;
  transform: translateY(-110%);

  a.logotype {
    display: inline-flex;
    width: 28px;
    height: 28px;
    text-align: center;
    border: 2px solid #000;
    font-family: 'opener', Helvetica, sans-serif;
    position: relative;
    align-items: center;
    justify-content: center;

    &::before {
      content: 'O';
    }
  }
}

@keyframes fade-background {
  from {
    opacity: 0;
  }
}

@media (min-device-height: 800px) {
  .about-us {
    &::before {
      background-position-y: center;
    }
  }
}

@media (max-device-width: 690px) {
  section {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-device-width: 570px) {
  header {
    .header {
      h3 {
        width: auto;
      }
    }
  }
}

@media (max-device-width: 480px) {
  header {
    .header {
      h2 {
        font-size: 36px;
      }

      h3 {
        font-size: 24px;
      }
    }
  }

  section {
    height: auto;
  }
}

@media (max-device-width: 380px) {
  section {
    text-align: left;
  }
}
